# Python
backend/.venv/
backend/**/__pycache__/
backend/*.db
backend/.env
backend/firebase-service-account.json
*.pyc

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.idea/
mobile/**/GeneratedPluginRegistrant.*
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/google-services.json
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Runner/GoogleService-Info.plist

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
